.UpLoadImg{
    border:1px solid #ccc;
    padding: 5px;
    border-radius:2px;
    background-color: #ccc;
}
.preview-image{
    width: 113px;
    height: 36px;
    border: 1px solid #000;
    margin-top: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}